.register{
    height: 750px;
    width:48%;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    margin-left: -1%;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-color: rgb(216, 214, 216);
   
    border-style: groove;
}

.font{
    font-size: 20px;
    font-weight: bold;
    text-decoration-color: #363636;
}

.Hfont{
    font-size: 30px;
    font-weight: bold;
    text-decoration-color: #363636;
}

.profile{
    height: 850px;
    width:60%;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 22%;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 3%;
    border-color: rgb(216, 214, 216);
   
    border-style: groove;
}

.driverimage {
    background-image: url('./log1.jpg');
    background-size: 850px 600px;
    background-repeat: no-repeat;
    background-position: right;
    
  }