.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }

    .regimage {
    background-image: url('../Photos/log3.svg');
    background-size: 600px 580px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }